<!DOCTYPE html>

<html>
   <head>
    <link href="/public/style.css" rel="stylesheet" type="text/css">
      <title>Tom Frank Porfolio App | freeCodeCamp.org</title>
    </head>

   <body>

     <div class="container">
       <h2>Tom Frank Porfolio App | freeCodeCamp.org</h2>
      <ul>
        <li><a href="/timestamp">Timestamp Microservice</a></li>
        <li><a href="/requestHeaderParser">Request Header Parser</a></li>
        <li><a href="/urlShortenerMicroservice">URL Shortener Microservice</a></li>
        <li><a href="/exerciseTracker">Exercise Tracker</a></li>
        <li><a href="/fileMetadataMicroservice"> File Metadata Microservice</a></li>
      </ul>
      </div>

      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGsPkvmGNPIOg/profile-displayphoto-shrink_800_800/0/1516927335953?e=1661990400&v=beta&t=BOcxCpyF2qIDRHkoWmMuESBKVzJjuxxa5i63nIVSMAA" alt="Thompson Franklin" height="100%">
  </body>
</html>

